.weatherContainer {
	width: 55%;
	// height: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 3rem;
	display: flex;
	flex-direction: column;

	img {
		width: 150px;
		height: auto;
		align-self: center;
		justify-self: center;
	}
	.temperature {
		color: white;
		padding-top: 4rem;
		text-align: center;
		font-size: 9rem;
		font-weight: 500;

		sub {
			font-size: 4rem;
			vertical-align: baseline;
			font-weight: 400;
			color: rgba(255, 255, 255, 0.575);
		}
	}
	.weatherInformation {
		color: rgba(255, 255, 255, 0.575);
		text-align: center;
		font-weight: 600;
		.weather {
			padding: 1rem 0;
			font-size: 2rem;
			text-align: center;
		}
		.weatherDate {
			padding: 1rem 0;
			font-size: 18px;
			word-spacing: 3px;
			.dot {
				vertical-align: text-bottom;
				display: inline-block;
				padding-inline: 15px;
				font-size: 30px;
			}
		}
		.weatherLocation {
			padding: 1rem 0 3rem;
			span {
				font-size: 18px;
			}
		}
		#Layer_1 {
			width: 17px;
			height: 17px;
			margin-right: 9px;
		}
	}
}
