.wrapper {
	padding-bottom: 50px;
}
.title {
	color: white;
	background-color: #100e1d;
	padding-bottom: 32px;
}
.highlightsContainer {
	background-color: #100e1d;
	color: #fff;
	text-align: center;
	display: grid;
	gap: 2rem;
}
@media (min-width: 1025px) {
	.highlightsContainer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}

.itemContainer {
	background-color: #1e213a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
	padding-block: 22px;

	h3 {
		font-weight: 500;
		font-size: 16px;
	}
	p:first-of-type {
		font-size: 64px;
		font-weight: 700;

		span {
			font-weight: 400;
			font-size: 36px;
		}
	}
}

.winddirection {
	// background: red;
	display: flex;
	align-items: center;
	span:nth-child(1) {
		background-color: #a09fb1;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		display: grid;
		place-items: center;
		margin-right: 1rem;
		svg {
			width: 10px;
			height: 10px;
		}
	}
}

.progressbar {
	width: 100%;
	height: 38px;
	// background-color: green;
}
.progressLoader {
	width: 80%;
	height: 8px;
	background-color: white;
	position: relative;
	margin: 0 auto;
	border-radius: 50px;
	.progressIndicator {
		position: absolute;
		// width: 44%;
		height: 8px;
		background-color: #ffec65;
		left: 0px;
		border-radius: 50px;
		bottom: 0px;
	}
}

.progressLoader::after {
	content: "%";
	position: absolute;
	right: 0px;
	top: 12px;
	font-weight: 700;
	font-size: 12px;
	color: #a09fb1;
}
.percentages {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 12px;
	color: #a09fb1;
}
