@use "utils";

.searchLocation {
	position: absolute;
	min-height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #1e213a;
	padding: 0px 12px 1rem 12px;
	color: white;
	top: 0;
	transition-property: transform, visibility;
	transition-delay: 0s, 0.5s;
	transition-duration: 0.5s;
}
.visibility {
	visibility: hidden;
	transform: translateX(-100%);
}
